
<!DOCTYPE HTML>
<html>
<head>
    <title>峨眉派</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="fonts/web/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home">
    <div class="container">
        <div class="row header text-center specials">
            <div class="h_logo">
                <a href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav nav_list">
                    <li>
                        <a href="/portfolio">天下风云出我辈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index">一入江湖岁月催</a>
                    </li>
                    <li class="logo page-scroll">
                        <a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/ranking">皇图霸业谈笑中</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/user">不胜人生一场醉</a>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="blog"><!-- start main -->
    <div class="container">
        <div class="main row">
            <h2 class="style">金顶峨眉</h2>
            <div class="details row">
                <div class="col-md-6">
                    <img src="images/emei2.png" alt="" class="img-responsive"/>
                </div>
                <div class="col-md-6">
                    <p class="para">峨眉派与少林、武当共为中土武功的三大宗，也是一个范围很广泛的门派，尤其在西南一带很有势力，可说是独占鳌头。历史上真实的峨眉派并非像武侠小说所写的的女派，从明代开始有峨眉派的记载，明代中叶人唐顺之（1507一1560即正德二年到嘉靖三十九年在世）的《荆川先生文集》里，有一首《峨眉道人拳歌》：忽然竖发一顿足，崖石进裂惊沙走。
                        来去星女掷灵梭，夭矫矢魔翻翠袖。
                        自身直指日车停，缩首斜钻针眼透。
                        百折连腰尽无骨，一撒通身皆是手。
                        余奇未竟己收场，鼻息无声神气守。
                        道人变化固不测，跳上蒲团如木偶。
                        真是“静如处子，动如脱兔”，倏忽神奇，变化万方，难怪要引起诗人的极大兴奋了。</p>
                    <p class="para">1958年出版的卧龙生成名作《飞燕惊龙》中，亦有峨眉派的描述，并列入「九大门派」之中。然而为人们熟知，主要源于金庸武侠小说。《倚天屠龙记》中记载郭靖黄蓉夫妇的二女儿郭襄遍寻天下，觅杨过未果，于四十岁时出家为尼，创立峨眉派。峨眉派弟子大多为女性，男性弟子身份职位偏低。明朝建立以后，男性弟子的地位得到提高，到了《笑傲江湖》时掌事的不再是尼姑或女子而是金光上人等男子，门下弟子也换成了道士。而《飞狐外传》中女主角袁紫衣（法名「圆性」），其师父亦是峨眉派大师。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="para">南宋末年，襄阳大侠郭靖与妻子女侠黄蓉力拒蒙古，独守襄阳。其次女名唤郭襄，家学渊源，武功驳杂，而行事纵性，与其外祖黄药师相类，遂有「小东邪」之称。十五岁时过黄河风陵渡口偶识神雕大侠杨过，从此芳心可可，独属其人。杨过在她十六岁生日上率江湖群豪以贺，其后杨过与小龙女重逢，并于第三次「华山论剑」后与众人在华山分别，从此郭襄开始了她在江湖中寻找杨过的旅程。 三年后，郭襄途经少室山，拜访少林无色禅师。适逢昆仑派何足道来少林挑战。因山间偶遇，郭襄乃奏考磐，而何因此而暗恋郭襄，特意为奏蒹葭相和。少林一战，何足道技惊全场，却又终于被觉远大师之徒张君宝击败，故返回西域，而觉远也因张君宝被指为偷艺而不得不带张与郭襄逃亡。是夜，觉远口颂《九阳真经》圆寂，郭襄、张君宝、无色皆有所悟。无色创「少林九阳功」；张君宝也因此而开创武当，自号「三丰」；郭襄仍然行走江湖，希望能与杨过碰面，却始终没能再见，在四十岁那年，她忽然大彻大悟，在峨眉山出家为尼，从而开创了「峨眉派」。</p>
            <div class="read_more">
                <a href="/portfolio">返回主页</a>
            </div>
        </div>
    </div>
</div><!-- end main -->
<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option value="subject">心仪门派</option>
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="mercedes">Mercedes</option>
                        <option value="audi">Audi</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option>选择心仪门派</option>
                        <option>少林派</option>
                        <option>武当派</option>
                        <option>峨眉派</option>
                        <option>华山派</option>
                        <option>青城派</option>
                        <option>空洞派</option>
                        <option>全真教</option>
                        <option>昆仑派</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <div class="copy text-center">
                <p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#btn').on('click', function() {
        var username = $('#username').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var info = $('#info').val();
        if(!(/\w{1,20}/).test(username)) {
            $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
            $("#ModalContent").html('邮箱不符合格式');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        }
        else {
            var obj = {
                username: username,
                email: email,
                subject: subject,
                info: info
            };

            $.ajax({
                type: 'POST',
                url: '/data/submit',
                data: obj,
                success: function(data) {
                    console.log(data);
                    if(data.status) {
                        $("#ModalContent").html('提交成功');
                        $("#modal-button").on('click', function() {
                            window.location.href = '/';
                        });
                    } else {
                        if(data.info === "未登录") {
                            $("#modal-button").html("登录");
                            $("#modal-button").on('click', function() {
                                window.location.href = '/login';
                            });
                        }
                        $("#ModalContent").html(data.info);
                    }
                },
                error: function() {
                    $("#ModalContent").html('提交失败');
                },
                dataType: 'json'
            });
        }
    });
</script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
</body>
</body>
</html>