
<!DOCTYPE HTML>
<html>
<head>
    <title>华山派</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="fonts/web/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home">
    <div class="container">
        <div class="row header text-center specials">
            <div class="h_logo">
                <a href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav nav_list">
                    <li>
                        <a href="/portfolio">天下风云出我辈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index">一入江湖岁月催</a>
                    </li>
                    <li class="logo page-scroll">
                        <a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/ranking">皇图霸业谈笑中</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/user">不胜人生一场醉</a>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="blog"><!-- start main -->
    <div class="container">
        <div class="main row">
            <h2 class="style">惊心一剑</h2>
            <div class="details row">
                <div class="col-md-6">
                    <img src="images/huashan2.png" alt="" class="img-responsive"/>
                </div>
                <div class="col-md-6">
                    <p class="para">华山派，我国秦汉时代，华山附近就有诸多剑侠的故事流传。相传华山派为全真道支派。尊北七真之一的郝大通为开派祖师。历经岁月华山派已是武林中声名显赫的名门正派，而华山派的武功尤其是剑术经过百多年的发展，已经形成一整套完善的剑术体系，后又经华山派历代的高手的千锤百炼，华山派剑术越发精妙，声震武林，因此华山派又被称为华山剑派。另为武侠小说著名的武林门派，以使剑著称 。

                    </p>
                    <p class="para">华山派最早的历史可以追溯至秦汉时代，那时华山附近就有诸多剑侠的故事流传。历经岁月至今，华山派已是武林中声名显赫的名门正派，而华山派的武功尤其是剑术经过百多年的发展，已经形成一整套完善的剑术体系，后又经华山派历代的高手的千锤百炼，华山派剑术越发精妙，声震武林，因此华山派又被称为华山剑派。华山派剑术剑意取自西岳华山“奇，险”二字。华山无限风光尽在"奇,险"二字中，"奇,险"往往与秀美相映相衍，因此华山剑术奇拔峻秀，高远绝伦，招式处处透着“正合奇胜，险中求胜”的意境。

                        华山派剑术众多，江湖闻名的如五云剑法，玉女剑法，铁针剑式，朝阳一字剑等上乘剑法。入门修习的华山剑法虽简单，但却是华山剑术的根本所在，因此也在武林中广为流传，武林中人希望能靠修习此剑法悟得华山剑术的精髓。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="para">清陈铭珪《长春道教源流》卷七：贝本恒，字常吉，淮阳人。年十七，礼武当袁正遇为师，后师龙门派王常月受戒律。康熙乙亥（1695）结茅武康（浙江旧县，1958年并入德清）之高池山。乾隆乙丑（1745），余杭人延主洞霄宫。乾隆二十三年卒。于《易》学颇有造诣，著有《周易参义》、《黄老旨归》。此处谓其受龙门派王常月戒律，当为龙门派道士，但《金盖心灯》卷四《沈轻云律师传》则谓其为华山派裔。曰：“贝常吉，名本恒，为华山派裔”，与龙门道士沈轻云友善，本恒有弟子李仁凝，号云峰，在沈轻云逝世后，“为封其龛，葬于大涤山之金筑坪”。卷三《樊初阳律师传》亦谓贝本恒为华山派裔，谓其又从樊太初（号初阳）学，“得其宗旨”。《金鼓洞志》又记李仁凝事：“月峰真人者，即世所称妙衷定命真人也，姓李名仁凝，皈依常吉真人为师。隐于云窝山房，好清静，修性炼命，备尝苦楚。性喜洁，最爱花木，精修三十年。”据此，贝本恒乃华山派道士，又曾参学龙门派。他和弟子李仁凝在清康、雍、乾间活动于浙江德清、余杭一带。于此可见华山派活动之一斑。《诸真宗派总簿》第十三，记有华山派之传代派字，前四句为：“至一元上道，崇教演全真，冲和德正本，仁义礼智信。”据此，贝本恒为华山派第十五代，李仁凝为十六代。</p>
            <div class="read_more">
                <a href="/portfolio">返回主页</a>
            </div>
        </div>
    </div>
</div><!-- end main -->
<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option>选择心仪门派</option>
                        <option>少林派</option>
                        <option>武当派</option>
                        <option>峨眉派</option>
                        <option>华山派</option>
                        <option>青城派</option>
                        <option>空洞派</option>
                        <option>全真教</option>
                        <option>昆仑派</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <div class="copy text-center">
                <p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#btn').on('click', function() {
        var username = $('#username').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var info = $('#info').val();
        if(!(/\w{1,20}/).test(username)) {
            $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
            $("#ModalContent").html('邮箱不符合格式');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        }
        else {
            var obj = {
                username: username,
                email: email,
                subject: subject,
                info: info
            };

            $.ajax({
                type: 'POST',
                url: '/data/submit',
                data: obj,
                success: function(data) {
                    console.log(data);
                    if(data.status) {
                        $("#ModalContent").html('提交成功');
                        $("#modal-button").on('click', function() {
                            window.location.href = '/';
                        });
                    } else {
                        if(data.info === "未登录") {
                            $("#modal-button").html("登录");
                            $("#modal-button").on('click', function() {
                                window.location.href = '/login';
                            });
                        }
                        $("#ModalContent").html(data.info);
                    }
                },
                error: function() {
                    $("#ModalContent").html('提交失败');
                },
                dataType: 'json'
            });
        }
    });
</script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
</body>
</body>
</html>