
<!DOCTYPE HTML>
<html>
<head>
    <title>昆仑派</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="fonts/web/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home">
    <div class="container">
        <div class="row header text-center specials">
            <div class="h_logo">
                <a href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav nav_list">
                    <li>
                        <a href="/portfolio">天下风云出我辈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index">一入江湖岁月催</a>
                    </li>
                    <li class="logo page-scroll">
                        <a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/ranking">皇图霸业谈笑中</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/user">不胜人生一场醉</a>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="blog"><!-- start main -->
    <div class="container">
        <div class="main row">
            <h2 class="style">明静如水</h2>
            <div class="details row">
                <div class="col-md-6">
                    <img src="images/kunlun2.jpeg" alt="" class="img-responsive"/>
                </div>
                <div class="col-md-6">
                    <p class="para">事实上，世间所传昆仑派多为误传，昆仑派并非来自西域昆仑山而是起源于古山东临清。故又称临清派。昆仑派不是以山命名而是以创始人昆仑大师的名字命名。
                        昆仑大师系后周柴荣手下大将，柴荣驾崩时在外统兵，宋太祖赵匡胤黄袍加身，昆仑大师明了时局为大义而适时归隐于古临清龙潭寺（此处今天在河北省临西县龙潭村）因当地战火不断，遂传授村民与僧众武艺，又因为当时世间武术多重视拳法而忽视腿法，故创立临清派系，以十路潭腿为主要功法</p>
                    <p class="para">在平江不肖生的武侠小说中，昆仑派属於「练气派」，比较尊奉修道戒律（主要指清虚门下），但也出了一些心术不正、品行不端之人。
                        在金庸武侠小说，获选入「武林六大门派」；在《倚天屠龙记》开头时，「昆仑三圣」何足道与郭襄结为至交，更在挑战少林寺时大出风头。何足道外号「昆仑三圣」，乃是，主其才艺在於琴、剑、棋艺。</p>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="read_more">
                <a href="/portfolio">返回主页</a>
            </div>
        </div>
    </div>
</div><!-- end main -->
<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option>选择心仪门派</option>
                        <option>少林派</option>
                        <option>武当派</option>
                        <option>峨眉派</option>
                        <option>华山派</option>
                        <option>青城派</option>
                        <option>空洞派</option>
                        <option>全真教</option>
                        <option>昆仑派</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <div class="copy text-center">
                <p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#btn').on('click', function() {
        var username = $('#username').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var info = $('#info').val();
        if(!(/\w{1,20}/).test(username)) {
            $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
            $("#ModalContent").html('邮箱不符合格式');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        }
        else {
            var obj = {
                username: username,
                email: email,
                subject: subject,
                info: info
            };

            $.ajax({
                type: 'POST',
                url: '/data/submit',
                data: obj,
                success: function(data) {
                    console.log(data);
                    if(data.status) {
                        $("#ModalContent").html('提交成功');
                        $("#modal-button").on('click', function() {
                            window.location.href = '/';
                        });
                    } else {
                        if(data.info === "未登录") {
                            $("#modal-button").html("登录");
                            $("#modal-button").on('click', function() {
                                window.location.href = '/login';
                            });
                        }
                        $("#ModalContent").html(data.info);
                    }
                },
                error: function() {
                    $("#ModalContent").html('提交失败');
                },
                dataType: 'json'
            });
        }
    });
</script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
</body>
</html>