<!DOCTYPE HTML>
<html>
	<meta charset="utf-8">>
	<head>
		<title>天下风云出我辈</title>
		<meta charset="utf-8">
		<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
		<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>

		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

		<script src="/js/jquery-1.11.0.min.js"></script>
		<script>
			$(function() {
				var pull = $('#pull');
				menu = $('nav ul');
				menuHeight = menu.height();
				$(pull).on('click', function(e) {
					e.preventDefault();
					menu.slideToggle();
				});
				$(window).resize(function() {
					var w = $(window).width();
					if(w > 320 && menu.is(':hidden')) {
						menu.removeAttr('style');
					}
				});
			});
		</script>

		<!-- <link rel="stylesheet" href="fonts/font-awesome.min.css"> -->

		<link rel="stylesheet" type="text/css" href="css/jquery.fancybox.css" media="screen" />
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-1.2.1.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$("div.fancyDemo a").fancybox();
			});
		</script>

	</head>

	<body>

		<div class="header_bg" id="home">
			<div class="container">
				<div class="row header text-center specials">
					<div class="h_logo">
						<a href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
					</div>
					<nav class="top-nav">
						<ul class="top-nav nav_list">
							<li>
								<a href="/portfolio">天下风云出我辈</a>
							</li>
							<li class="page-scroll">
								<a href="/index">一入江湖岁月催</a>
							</li>
							<li class="logo page-scroll">
								<a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
							</li>

							<li class="page-scroll">
								<a href="/ranking">皇图霸业谈笑中</a>
							</li>
							<li class="page-scroll">
								<a href="/user">不胜人生一场醉</a>
							</li>
						</ul>
						<a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
					</nav>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="main row">
				<h2 class="style">这些门派正在等待着您的加入</h2>
				<div class="grids_of_4 row">
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/shaolin.jpeg"><img src="images/shaolin.jpeg " alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/shaolin">武林北斗君须记，看我横戈云上行</a></h4>
						<p class="para">少林派属正统外家，主要走刚猛硬派一路。少林寺僧练武本为参禅及保护寺院之用，因威力太猛，容易造成杀孽，因此不传俗家。佛家戒杀，故其武技少用刀剑利器，而主力发展徒手拳法及棍棒之术。寺内武僧亦同时修禅，禅武不二的精神，乃为少林武道之根本。</p>

					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/wudang.png"><img src="images/wudang.png" alt="" class="img-responsive" /></a>
						</div>
						<br>
						<h4><a href="/wudang">征袍漫卷南岩下，青锋三尺笑红尘</a></h4>
						<p class="para">武当武术一度在文学作品中被描绘得神乎其技，人们通常把这种练习内功为主的拳法称为「内家拳」；武当道士们所创的武当武术中，蕴含著珍爱生命的传统哲理，小说家们将太极、阴阳、五行、八卦等哲学理论用於拳理、拳技、练功原则和技击战术中，组成一个庞大的武当武系。</p>

					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/emei.png"><img src="images/emei.png" alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/emei">不见青丝红颜老，只留正气满乾坤</a></h4>
						<p class="para">峨嵋派之得名，是以上古修仙学道圣地峨眉山而起的，峨眉派的“峨眉”是地名，是实指。峨眉武术有“一树开五花，五花八叶扶”。一树指的是峨眉武术，五花指的是五个地区，即丰都的青牛，通江的铁佛，开县的黄陵，涪陵的点易，灌县的青城。</p>

					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/haushan.jpeg"><img src="images/haushan.jpeg" alt="" class="img-responsive" /></a>
						</div>
						<br>
						<h4><a href="/huashan">西岳峥嵘何壮哉，黄河如丝天际来</a></h4>

						<p class="para">华山派是道教的支派。在武侠小说中也常出现，以使剑著称。华山派以华山为主要据点而得名，常指全真道内部繁衍出七个支派之一， 华山派为广宁子郝大通所创，由其弟子范圆曦、王志谨等进一步传播，成为中原主要武林门派之一。
						</p>

					</div>
					<div class="clear"></div>
				</div>
				<div class="grids_of_4 row">
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/quanzhen.jpeg"><img src="images/quanzhen.jpeg" alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/quanzhen">大道初修通九窍 又窍原在尾闾穴</a></h4>
						<p class="para">全真教，道教主流教派，嗣老君遗教、秉东华演教、承钟吕传教开宗于辅极帝君王重阳以全老庄之真、苦己利人为宗旨。开宗祖师王嚞，道号重阳子，陕西咸阳人。早年曾应武举为状元，入仕，后辞官归隐。正隆四年(1159)，在甘河镇遇仙，为汉钟离和吕洞宾，得授金丹口诀。遂隐居终南山，修道三年。大定年间出关赴山东传教。招收马钰、谭处端、刘处玄、丘处机、王处一、郝大通、孙不二等七大弟子，世称全真七子。</p>

					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/kunlun.jpeg"><img src="images/kunlun.jpeg" alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/kunlun">阴云解驳朝暾红，黄河直与昆仑通</a></h4>
						<p class="para">武术以昆仑山为标志，称为“昆仑派”，为中华武术著名流派。昆仑派也是明末兴起的道教分支，其所在地位于帕米尔高原东部的昆仑山。昆仑山连绵数百里，山峦幽秀，道术之士接踵前往修炼。</p>
					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/kongdong.jpeg"><img src="images/kongdong.jpeg" alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/kongtong">历代名山与名剑，崆峒从来第一家</a></h4>
						<p class="para">崆峒派是传统中国武术流派之一，崆峒武术早于少林、峨眉、武当，创始于崆峒山，是道教文化的组成部分。 第一代掌派人唐朝甘肃人飞虹子吸收了当时瓜州（现在的敦煌）等地的舞蹈，形成崆峒派重要的高深武功“花架门”。
						</p>

					</div>
					<div class="col-md-3 images_1_of_4">
						<div class="fancyDemo">
							<a rel="group" title="" href="images/qingcheng2.jpg"><img src="images/qingcheng2.jpg" alt="" class="img-responsive" /></a>
						</div>
						<h4><a href="/qingcheng">自古青城天下幽，寻仙问道志终酬</a></h4>
						<p class="para">青城派是道教内丹修炼的派别。青城派发源于中国道教发祥地，中国历史文化名城，国家5A级风景区，世界文化遗产中国四川省都江堰市青城山。</p>

					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>
		<!-- end main -->
		<div class="footer_bg" id="contact">
			<!-- start footer -->
			<div class="container">
				<div class="row footer">
					<div class="col-md-8 contact_left">
						<h3>加入门派</h3>
						<h4>In order to get in touch use the contact form below:</h4>
						<form id="submit" enctype="multipart/form-data" ,action="javascript:">
							<input id="username" type="text" placeholder="尊姓大名">
							<input id="email" type="text" placeholder="飞鸽传书">

							<select id="subject" >
								<option>选择心仪门派</option>
								<option>少林派</option>
								<option>武当派</option>
								<option>峨眉派</option>
								<option>华山派</option>
								<option>青城派</option>
								<option>空洞派</option>
								<option>全真教</option>
								<option>昆仑派</option>
							</select>
							<textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
							<span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

								<!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

							<!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
						</form>
					</div>
					<div class="col-md-4  contact_right">
						<p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
						<ul class="list-unstyled address">
							<li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
							<li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
							<li><i class="fa fa-envelope"></i>
								<a >这个真没有网站</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="footer1_bg"><!-- start footer1 -->
			<div class="container">
				<div class="row  footer">
					<div class="copy text-center">
						<p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
						<a href="/index" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
					</div>
				</div>
				<script type="text/javascript">
                    $(function() {
                        $('a[href*=#]:not([href=#])').click(function() {
                            if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                                var target = $(this.hash);
                                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                                if (target.length) {
                                    $('html,body').animate({
                                        scrollTop: target.offset().top
                                    }, 1000);
                                    return false;
                                }
                            }
                        });
                    });
				</script>
				<!---- start-smoth-scrolling---->
			</div>
		</div>
		<script src="/js/bootstrap.min.js"></script>
		<script type="text/javascript">
            $('#btn').on('click', function() {
                var username = $('#username').val();
                var email = $('#email').val();
                var subject = $('#subject').val();
                var info = $('#info').val();
                if(!(/\w{1,20}/).test(username)) {
                    $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
                    $("#modal-button").on('click', function() {
                        setTimeout(function() {
                            $("#ModalContent").html('提交中');
                        }, 1000);
                    });
                } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
                    $("#ModalContent").html('邮箱不符合格式');
                    $("#modal-button").on('click', function() {
                        setTimeout(function() {
                            $("#ModalContent").html('提交中');
                        }, 1000);
                    });
                }
                else {
                    var obj = {
                        username: username,
                        email: email,
                        subject: subject,
                        info: info
                    };

                    $.ajax({
                        type: 'POST',
                        url: '/data/submit',
                        data: obj,
                        success: function(data) {
                            console.log(data);
                            if(data.status) {
                                $("#ModalContent").html('提交成功');
                                $("#modal-button").on('click', function() {
                                    window.location.href = '/';
                                });
                            } else {
                                if(data.info === "未登录") {
                                    $("#modal-button").html("登录");
                                    $("#modal-button").on('click', function() {
                                        window.location.href = '/login';
                                    });
                                }
                                $("#ModalContent").html(data.info);
                            }
                        },
                        error: function() {
                            $("#ModalContent").html('提交失败');
                        },
                        dataType: 'json'
                    });
                }
            });
		</script>
		<script type="application/x-javascript">
            addEventListener("load", function() {
                setTimeout(hideURLbar, 0);
            }, false);

            function hideURLbar() {
                window.scrollTo(0, 1);
            }
		</script>
		<script>
            $(function() {
                var pull = $('#pull');
                menu = $('nav ul');
                menuHeight = menu.height();
                $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();
                });
                $(window).resize(function() {
                    var w = $(window).width();
                    if(w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
            });
		</script>
	</body>

</html>