
<!DOCTYPE HTML>
<html>
<head>
    <title>少林派</title>

    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>

    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />

    <script src="/js/jquery-1.11.0.min.js"></script>

</head>
<body>
<div class="header_bg" id="home">
    <div class="container">
        <div class="row header text-center specials">
            <div class="h_logo">
                <a href="/index"><img src="images/logo.png" alt="" class="responsive"/></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav nav_list">
                    <li><a href="/portfolio">天下风云出我辈</a></li>
                    <li class="page-scroll"><a href="/index">一入江湖岁月催</a></li>
                    <li class="logo page-scroll"><a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive"/></a></li>

                    <li class="page-scroll"><a href="#contact">皇图霸业谈笑中</a></li>
                    <li class="page-scroll"><a href="/blog">不胜人生一场醉</a></li>
                    <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="blog">
    <div class="container">
        <div class="main row">
            <h2 class="style">巴蜀无双</h2>
            <div class="details row">
                <div class="col-md-6">
                    <img src="images/qingcheng.jpeg" alt="" class="img-responsive"/>
                </div>
                <div class="col-md-6">
                    <p class="para">道教内丹修炼的派别。相传起始于青城丈人，又有李八百等人习传之。近人萧天石自称得览《青城秘录》、《青城玉房诀》等，了悉其旨归，在其《道家养生学概要》、《道海玄微》中作了阐述。青城派修炼最重一个“无”字，自“虚无”二字去体认参证。因而主张，功法下手即从最上乘起，修得上乘，中下乘之效验可兼得，无为而有为，无作而有作。该派认为无修而有修，斯为大修；无成而成，斯为大成；无德而德，斯为大德；无有而有，斯为大有</p>
                    <p class="para">青城派发源于中国道教发祥地，中国历史文化名城，国家5A级风景区，世界文化遗产中国四川省都江堰市青城山。
                        青城山道教的历代教派，从张天师创天师道正一派，经历了源于东晋时期以陶弘景为首的上清派；
                        形成于北宋年间，流行于元朝的清微派；北宋间的丹鼎派南宗；元朝的全真道龙门派；清代末年的青城派。青城派在20世纪50年代后一直是中国道教的重要道派。1957年“中国道教协会”正北京成立，青城山道长易心莹山席大会，被推选为副会长兼副秘书长，当年又被推选为四川道教协会会长。1986年，在中国道协第四届代表会议上，傅元天道长当选副会长，1992年3月又当选为中国道教协会会长，并兼任中国道教学院院长。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="para">青城派分三大支系，道家武术讲轻灵飘逸，舒展大方，佛家讲小手连环,
                轻步行走，侠家讲擅长在高低不平的地方作战，总体来说，都受青城山道教文化影响很深，擅吐纳养生，重实战搏击，步型，身法，手法奇特，与国家竞技武术区别很大，被联合国确定为青城山道教文化的重要组成部分。青城派载体有青城武术馆，国际道家功夫联盟网，青城武术文化研究会。</p>
            <div class="read_more">
                <a href="/portfolio">返回主页</a>
            </div>
        </div>
    </div>
</div>
<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option>选择心仪门派</option>
                        <option>少林派</option>
                        <option>武当派</option>
                        <option>峨眉派</option>
                        <option>华山派</option>
                        <option>青城派</option>
                        <option>空洞派</option>
                        <option>全真教</option>
                        <option>昆仑派</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <div class="copy text-center">
                <p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#btn').on('click', function() {
        var username = $('#username').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var info = $('#info').val();
        if(!(/\w{1,20}/).test(username)) {
            $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
            $("#ModalContent").html('邮箱不符合格式');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        }
        else {
            var obj = {
                username: username,
                email: email,
                subject: subject,
                info: info
            };

            $.ajax({
                type: 'POST',
                url: '/data/submit',
                data: obj,
                success: function(data) {
                    console.log(data);
                    if(data.status) {
                        $("#ModalContent").html('提交成功');
                        $("#modal-button").on('click', function() {
                            window.location.href = '/';
                        });
                    } else {
                        if(data.info === "未登录") {
                            $("#modal-button").html("登录");
                            $("#modal-button").on('click', function() {
                                window.location.href = '/login';
                            });
                        }
                        $("#ModalContent").html(data.info);
                    }
                },
                error: function() {
                    $("#ModalContent").html('提交失败');
                },
                dataType: 'json'
            });
        }
    });
</script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
</body>
</body>
</html>