
<!DOCTYPE HTML>
<html>
<head>
    <title>武当派</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <link href="css/bootstrap.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- start plugins -->
    <script src="/js/jquery-1.11.0.min.js"></script>

    <!----font-Awesome----->
    <link rel="stylesheet" href="/fonts/web/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body>
<div class="header_bg" id="home">
    <div class="container">
        <div class="row header text-center specials">
            <div class="h_logo">
                <a href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
            </div>
            <nav class="top-nav">
                <ul class="top-nav nav_list">
                    <li>
                        <a href="/portfolio">天下风云出我辈</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/index">一入江湖岁月催</a>
                    </li>
                    <li class="logo page-scroll">
                        <a title="hexa" href="/index"><img src="images/logo.png" alt="" class="responsive" /></a>
                    </li>

                    <li class="page-scroll">
                        <a href="/ranking">皇图霸业谈笑中</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/user">不胜人生一场醉</a>
                    </li>
                </ul>
                <a href="#" id="pull"><img src="images/nav-icon.png" title="menu" /></a>
            </nav>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="blog"><!-- start main -->
    <div class="container">
        <div class="main row">
            <h2 class="style">南尊武当</h2>
            <div class="details row">
                <div class="col-md-6">
                    <img src="images/wudang2.jpeg" alt="" class="img-responsive"/>
                </div>
                <div class="col-md-6">
                    <p class="para">武当派传说中的开山祖师是元、明之际的张三丰，他的生平众说纷纭，大致说来，他是辽东懿州人，本名是张全一，一名君宝，号三丰，因为不修边幅，又被称为「张邋遢」。他天资聪敏，过目不忘，与人言谈，专以道德、仁义、忠孝为本，并无虚诞欺诳於人，因而修练成「心与神通，神与道一，事事皆有先见之理」的境地。平时行止不定，或穿山走石或铺云卧雪，所以人们视他为神仙中人。</p>
                    <p class="para">武当山，中国道教圣地，又名太和山、谢罗山、参上山、仙室山，古有“太岳”、“玄岳”、“大岳”之称。位于湖北西北部十堰市丹江口市境内。东接闻名古城襄阳市，西靠车城十堰市 ，南望原始森林神农架，北临高峡平湖 丹江口水库。武当山是道教名山和武当武术的发源地，被称为“亘古无双胜境，天下第一仙山”。武当武术，是中华武术的重要流派。元末明初，道士张三丰集其大成，开创武当派。</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <p class="para">武当武功是中国武术的一大名宗。其作为一种文化，蕴含着深刻的中国传统哲理奥妙，把中国古代太极、阴阳、五行、八卦等哲学理论，用于拳理、拳技、练功原则和技击战略中，其本质上是探讨生命活动的规律。武当武功的起源之说，以蛇在攻防之时采取的姿势非常形象地演示出武当功夫的真谛：“以柔克刚，后发制人，辩位于尺寸毫厘，制敌于擒扑封闭”。后经历代宗师不断的充实和发展，武当武功派生出众多的门派和种类，内容十分丰富。其中包括太极、形意、八卦等拳术套路；太极枪、太极剑等各种械术；轻功、硬功、绝技及各种强身健体的气功等。</p>
            <div class="read_more">
                <a href="/portfolio">返回主页</a>
            </div>
        </div>
    </div>
</div><!-- end main -->
<div class="footer_bg" id="contact">
    <!-- start footer -->
    <div class="container">
        <div class="row footer">
            <div class="col-md-8 contact_left">
                <h3>加入门派</h3>
                <h4>In order to get in touch use the contact form below:</h4>
                <form id="submit" enctype="multipart/form-data" ,action="javascript:">
                    <input id="username" type="text" placeholder="尊姓大名">
                    <input id="email" type="text" placeholder="飞鸽传书">

                    <select id="subject" >
                        <option>选择心仪门派</option>
                        <option>少林派</option>
                        <option>武当派</option>
                        <option>峨眉派</option>
                        <option>华山派</option>
                        <option>青城派</option>
                        <option>空洞派</option>
                        <option>全真教</option>
                        <option>昆仑派</option>
                    </select>
                    <textarea id="info" placeholder='留下点壮志豪言吧'></textarea>
                    <span class="pull-right">
					<button id="btn" type="button" data-toggle="modal" data-target="#myModal">即刻启程</button>

                        <!-- 模态框 -->
					<div class="modal fade" id="myModal">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- 模态框主体 -->
					      <div id="ModalContent"class="modal-body">
					        提交中
					      </div>

                            <!-- 模态框底部 -->
					      <div class="modal-footer">
					        <button id="modal-button" type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
					      </div>

					    </div>
					  </div>
					</div>
					</span>
                </form>
            </div>
            <div class="col-md-4  contact_right">
                <p><span>我们郑重承诺: </span> 以上内容纯属虚构</p>
                <ul class="list-unstyled address">
                    <li><i class="fa fa-map-marker"></i><span>资料来自百度</span></li>
                    <li><i class="fa fa-phone"></i><span>(+86) 180 7279 0867</span></li>
                    <li><i class="fa fa-envelope"></i>
                        <a >这个真没有网站</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="footer1_bg"><!-- start footer1 -->
    <div class="container">
        <div class="row  footer">
            <div class="copy text-center">
                <p class="link"><span>&#169; All rights reserved | <a href="/index" target="_blank" title="sz">SzAndZxh</a> - Collect from <a href="/index" title="baidu" target="_blank">百度</a></span></p>
                <a href="#home" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"> </span></a>
            </div>
        </div>
        <script type="text/javascript">
            $(function() {
                $('a[href*=#]:not([href=#])').click(function() {
                    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {

                        var target = $(this.hash);
                        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                        if (target.length) {
                            $('html,body').animate({
                                scrollTop: target.offset().top
                            }, 1000);
                            return false;
                        }
                    }
                });
            });
        </script>
        <!---- start-smoth-scrolling---->
    </div>
</div>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript">
    $('#btn').on('click', function() {
        var username = $('#username').val();
        var email = $('#email').val();
        var subject = $('#subject').val();
        var info = $('#info').val();
        if(!(/\w{1,20}/).test(username)) {
            $("#ModalContent").html('用户名不符合格式(1~20个字母与数字组合)');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        } else if(!(/^[a-zA-Z0-9]{1,}@(([a-zA-z0-9]-*){1,}\.){1,3}[a-zA-z\-]{1,}$/).test(email)){
            $("#ModalContent").html('邮箱不符合格式');
            $("#modal-button").on('click', function() {
                setTimeout(function() {
                    $("#ModalContent").html('提交中');
                }, 1000);
            });
        }
        else {
            var obj = {
                username: username,
                email: email,
                subject: subject,
                info: info
            };

            $.ajax({
                type: 'POST',
                url: '/data/submit',
                data: obj,
                success: function(data) {
                    console.log(data);
                    if(data.status) {
                        $("#ModalContent").html('提交成功');
                        $("#modal-button").on('click', function() {
                            window.location.href = '/';
                        });
                    } else {
                        if(data.info === "未登录") {
                            $("#modal-button").html("登录");
                            $("#modal-button").on('click', function() {
                                window.location.href = '/login';
                            });
                        }
                        $("#ModalContent").html(data.info);
                    }
                },
                error: function() {
                    $("#ModalContent").html('提交失败');
                },
                dataType: 'json'
            });
        }
    });
</script>
<script type="application/x-javascript">
    addEventListener("load", function() {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    }
</script>
<script>
    $(function() {
        var pull = $('#pull');
        menu = $('nav ul');
        menuHeight = menu.height();
        $(pull).on('click', function(e) {
            e.preventDefault();
            menu.slideToggle();
        });
        $(window).resize(function() {
            var w = $(window).width();
            if(w > 320 && menu.is(':hidden')) {
                menu.removeAttr('style');
            }
        });
    });
</script>
</body>
</body>
</html>